body {
    background-color: azure;
    font-family: "源泉圓體", cursive;
    color: whitesmoke;
}

.title {
    background-color: transparent;
    padding: 2px;
    position: relative;
    text-align: center;
}

.title:before,
.title:after {
    border-color: rgba(0, 0, 0, .5);
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 20px;
    position: absolute;
    width: 20px;
}

.title:before {
    border-left-width: 2px;
    border-top-width: 2px;
    left: -5px;
    top: -5px;
}

.title:after {
    border-bottom-width: 2px;
    border-right-width: 2px;
    bottom: -5px;
    right: -5px;
}

.title:hover:before,
.title:hover:after {
    height: 100%;
    width: 100%;

}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0;
    background-color: azure;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    width: 70px;
}

.nav-item {
    font-size: 24px;
    margin-right: 70px;
    font-weight: bold;
    display: block;
    height: 100%;
}

.nav-item .dropdown-item {
    font-size: 20px;
    font-weight: 500;
}

.nav-item .dropdown-item span {
    float: right;
}

.wrap {
    background-color: #24292d;
    padding: 10px;
}

a {
    color: orange;
    text-decoration: none;
}

.l_title {
    background-color: orange;
    padding: 10px;
    color: #203041;
    font-size: 28px;
    margin: 20px auto;
    position: relative;
    width: 250px;
    text-align: center;
}

.l_title:before,
.l_title:after {
    border-color: orange;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 24px;
    position: absolute;
    width: 24px;
}

.l_title:before {
    border-left-width: 2px;
    border-top-width: 2px;
    left: -5px;
    top: -5px;
}

.l_title:after {
    border-bottom-width: 2px;
    border-right-width: 2px;
    bottom: -5px;
    right: -5px;
}

.l_title:hover:before,
.l_title:hover:after {
    height: 100%;
    width: 100%;

}

.content {
    color: orange;
    font-style: italic;
}

h4 {
    width: 70vw;
    margin: 20px auto;
    font-style: italic;
    text-decoration: underline;
}

p {
    width: 50vw;
    margin: 10px auto;
}

iframe {
    display: block;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    border-radius: 20px;
}