body {
    background-color: azure;
    font-family: "源泉圓體", cursive;
    color: #373738;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0;
    background-color: azure;
}

.navbar-brand {
    width: 70px;
}

.nav-item {
    font-size: 24px;
    margin-right: 70px;
    font-weight: bold;
    display: block;
    height: 100%;
}

.nav-item .dropdown-item {
    font-size: 20px;
    font-weight: 500;
}

.nav-item .dropdown-item span {
    float: right;
}

h2 {
    text-align: center;
    background-color: #183757;
    color: aliceblue;
    padding: 20px;
    transition: all 0.3s;
}

h2:hover {
    background-color: aliceblue;
    color: #183757;
}