body {
    background-color: azure;
    font-family: "源泉圓體", cursive;
    color: #373738;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0;
    background-color: azure;
}

.navbar-brand {
    width: 70px;
}

.nav-item {
    font-size: 24px;
    margin-right: 70px;
    font-weight: bold;
    display: block;
    height: 100%;
}

.nav-item .dropdown-item {
    font-size: 20px;
    font-weight: 500;
}

.nav-item .dropdown-item span {
    float: right;
}

a {
    color: #373738;
    text-decoration: none;
}

.title {
    background-color: #183757;
    padding: 10px;
    color: #fff;
    font-size: 28px;
    margin: 10px auto;
    position: relative;
    width: 500px;
    text-align: center;
}

.title:before,
.title:after {
    border-color: #183757;
    transition: all 0.25s;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 24px;
    position: absolute;
    width: 24px;
}

.title:before {
    border-left-width: 2px;
    border-top-width: 2px;
    left: -5px;
    top: -5px;
}

.title:after {
    border-bottom-width: 2px;
    border-right-width: 2px;
    bottom: -5px;
    right: -5px;
}

.title:hover:before,
.title:hover:after {
    height: 100%;
    width: 100%;
}

.welcome {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    color: rgb(0, 38, 255);
}

.contact {
    width: 90vw;
    margin: 30px auto;

}

.contact h3 {
    width: 100px;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin-left: 50px;

}

.contact h3:hover {
    background-color: #183757;
    color: whitesmoke;
}

.contact h4 {
    width: 70vw;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    border-radius: 50px;
    transition: all 0.25s;
    color: #373738;
}

.contact h4 sub:hover {
    font-size: large;
}

.contact h4:hover {
    background-color: #395b7c;
    color: whitesmoke;
}